# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
*.meta
*.ai
*.meta
*.eps
GravityMaze/Library/SourceAssetDB
GravityMaze/Library/
GravityMaze/Library/ArtifactDB
GravityMaze/Library/CurrentLayout-default.dwlt
GravityMaze/Library/expandedItems
GravityMaze/Library/LastSceneManagerSetup.txt
GravityMaze/Library/SceneVisibilityState.asset
GravityMaze/Library/SourceAssetDB
GravityMaze/Library/ArtifactDB
GravityMaze/Library/Artifacts/b4/b41c54bdf503c842e98c57ac9bf21bfd
GravityMaze/Library/EditorInstance.json
GravityMaze/Library/SourceAssetDB
GravityMaze/Library/ArtifactDB
GravityMaze/Library/EditorInstance.json
GravityMaze/Library/InspectorExpandedItems.asset
GravityMaze/Library/SceneVisibilityState.asset
GravityMaze/Library/ShaderCache.db
GravityMaze/Library/ShaderCache/EditorEncounteredVariants
GravityMaze/Library/SourceAssetDB
GravityMaze/Library/StateCache/MainStageHierarchy/a8/a84ddab0406e31134b0549aede7e6cec.json
GravityMaze/Library/StateCache/SceneView/63/63c59c29150a325a027e199bcacdbfc9.json
